* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}



/* Nav Area Start */
.menu {
    background-color: #f3f3f3;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu a {
    padding: O 20px;
    color: black;
    padding: 0 1rem;
    line-height: 60px;
    font-size: 1.2rem;
    font-weight: bold;
}
.menu a:hover {
    background-color: darkgoldenrod;
    transition: 1s;
}
/* Nav Area End */


/* Hero Area Start */
.hero-area {
    text-align: center;
    padding: 5rem 1rem;
    background-color: #f4f4f4;
    line-height: 30px;
    animation: fadeIn 4s ease-in-out;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0.10;
    }
    to {
        opacity: 1;
    }
}
.loder {
    margin: 0 auto 2rem;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #007BFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

/* Animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.hero-area {
    background-image: url("../src/Hero\ Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-area h1 {
    font-size: 2rem;
    padding: 15px 0 0 0;
    color: white;
}
.hero-area p {
    font-size: 1.2rem;
    padding: 15px 0 20px 0;
    color: white;
}
.hire-button {
    background-color: #007BFF;
    color: white;
    padding: 15px 40px;
    border-radius: 5px;
}
.hire-button:hover {
    background-color: darkgoldenrod;
    transition: 1s;
}
/* Hero Area End */



/* About Area Start */
.about-area {
    padding: 1rem 1rem;  
}
.about-area h2 {
    font-size: 2rem;
    text-align: center;
}
.about-content {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.about-content img {
    border-radius: 50%;
    width: 250px;
    margin-left: 30px;
}
.about-content p {
    font-size: 1.2rem;
    text-align: justify;
}
/* About Area End */


/* Project Area Start */
.projects {
    padding: 0 1rem 1rem 1rem;
}
.projects h2 {
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem 0 1rem 0;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
.project-card {
    background-color: #f3f3f3;
    color: black;
    padding: 1rem 0;
    border-radius: 10px;
    text-align: center;
    transition: background-color 1s ease;
}
.project-card:hover {
    background-color: #0056b3;
    color: white;
}
.project-card h3 {
    padding: 10px 0;
}
.project-card p {
    padding: 10px 0;
}
.project-card img {
    width: 450px;
    padding: 5px;
    border-radius: 10px;
}
/* Project Area End */


/* Contact Area Start */
.contact {
    padding: 1rem;
    background: #333;
    color: #fff;
  }
.contact h2 {
    text-align: center;
    padding-bottom: 1.5rem;
  }
.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  } 
.contact input, .contact textarea, .contact button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
  }
.contact button {
    background: #6a11cb;
    color: #fff;
    cursor: pointer;
  } 
.contact button:hover {
    background: #2575fc;
  }
/* Contact Area End */


/* Footer Area Start */
.fotter {
    background-color: #f3f3f3;
    padding: 20px;
    height: 50px;
    width: 100%;
}
.fotter p {
    text-align: center;
}
/* Footer Area End */




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu a {
        padding: O 10px;
        font-size: 1rem;
    }
    .about-content {
        display: flex;
        flex-direction: column;
    }
    .project-grid {
        display: grid;
        grid-template-columns: 1fr;
        }
}





/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
    .project-grid {
        display: grid;
        grid-template-columns: 1fr;
        }
}






/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
}
